h2 {
    color:white;
}

.imagen {
    align-items: center;
}

.project-image {
    width: 80%;
    height: 90%;

}
.card {
    background-color: rgb(61, 61, 61);
}

.project-item {
    padding-top: 70px;
}