
<div class="row" id="experience-add">
    <form [formGroup]="form" class="card card-mat" (ngSubmit)="onEnviar()">
        <div class="form-name">
            <label for="InputName" class="form-label">Nombre del trabajo: </label>
            <input type="name" class="form-control" [ngClass]="form.controls['nombre'].valid?'is-valid':'is-invalid'" formControlName="nombre" placeholder="Ingrese el nombre del trabajo">
            <small *ngIf="form.controls['nombre'].invalid" class="form-text text-muted">Debe contener entre 1 y 60 caracteres</small>
        </div>
        <div class="form-fechaInicio">
            <label for="InputFechaInicio" class="form-label">Año de inicio: </label>
            <input type="date" class="form-control" [ngClass]="form.controls['fechaInicio'].valid?'is-valid':'is-invalid'" formControlName="fechaInicio" placeholder="Ingrese la fecha de inicio del trabajo">
        </div>
        <div class="form-fechaFin">
            <label for="InputFechaFin" class="form-label">Año de finalización: </label>
            <input type="date" class="form-control" [ngClass]="form.controls['fechaFin'].valid?'is-valid':'is-invalid'" formControlName="fechaFin" placeholder="Ingrese la fecha de finalización del trabajo">
            <small class="form-text text-muted">Si se encuentra actualmente en curso, coloque una fecha posterior a la actual</small>
        </div>
        <div class="form-description">
            <label for="InputDescription" class="form-label">Descripción: </label>
            <textarea type="description" class="form-control" [ngClass]="form.controls['descripcion'].valid?'is-valid':'is-invalid'" formControlName="descripcion" placeholder="Ingrese una descripción del trabajo"></textarea>
            <small *ngIf="form.controls['descripcion'].invalid" class="form-text text-muted">Debe contener entre 1 y 250 caracteres</small>
        </div>
        <div class="form-urlImagen">
            <label for="InputUrlImagen" class="form-label">Url Imagen: </label>
            <input type="url" class="form-control" [ngClass]="form.controls['urlImagen'].valid?'is-valid':'is-invalid'" formControlName="urlImagen" placeholder="Ingrese la dirección de una imagen">
            <small *ngIf="form.controls['urlImagen'].invalid" class="form-text text-muted">Debe contener entre 1 y 150 caracteres</small>
        </div>
        <div class="button">
            <button type="submit" class="btn" [ngClass]="form.valid==true? 'btn-outline-success' : 'disabled btn-danger'">Guardar</button>
        </div>        
    </form>
</div>